<html>
<head>
<title>Exibe Detalhes do Cliente</title>
</head>
<body>

	<h2>Detalhes do Cliente Cadastrado</h2>
	<table>
		<tr>
			<td>Nome:</td>
			<td>${nome}</td>
		</tr>
		<tr>
			<td>CPF:</td>
			<td>${cpf}</td>
		</tr>
		<tr>
			<td>RG:</td>
			<td>${rg}</td>
		</tr>
		<tr>
			<td>Salário:</td>
			<td>${salario}</td>
		</tr>
		<tr>
			<td>Endereço:</td>
			<td>${endereco}</td>
		</tr>
		<tr>
			<td>Profissão:</td>
			<td>${profissao}</td>
		</tr>
		<tr>
			<td>Telefone:</td>
			<td>${telefone}</td>
		</tr>
		<tr>
			<td>Descrição:</td>
			<td>${descricao}</td>
		</tr>
	</table>
	<a href="/cliente/cliente">Cadastro</a>
	<a href="/cliente/listaClientes">Lista</a>

</body>
</html>